<div class="list-wrapper d-flex flex-column">
    <h2>Form List</h2>
    <!-- <div>
      <input type="search" placeholder="Search" [(ngModel)]="searchText" />
      <button class="button" routerLink="add">Add</button>
    </div> -->
    <div class="wrapper">
        <button  type="button" class="btn-adduser" routerLink="../add">
          + Add User
        </button>
        <button type="button" class="btn-adduser" (click)="onFilterSubmit()" >
        Filter
        </button>
    </div>
    <div class="table">
      <table>
        <thead>
          <tr>
            <th scope="col" class="padding-left">Id</th>
            <th scope="col">FirstName</th>
            <th scope="col">LastName</th>
            <th scope="col">City</th>
            <th scope="col">Contact No.</th>
            <th scope="col">Email</th>
            <th scope="col">Age</th>
            <th scope="col">Department</th>
            <th scope="col">Gender</th>
            <th scope="col" class="d-flex justify-content-center">Actions</th>
          </tr>
        </thead>
        <tbody>
        <tr *ngFor="let item of customerList ,let i=index">
        <th scope="row" class="padding-left">{{ i + 1 }}.</th>
        <td>{{ item.firstname }}</td>
        <td>{{ item.lastname }}</td>
        <td>{{ item.city }}</td>
        <td>{{ item.contactno }}</td>
        <td>{{ item.email }}</td>
        <td>{{ item.age }}</td>
        <td>{{ item.department | department:departmentList }}</td>
        <td>{{ item.gender }}</td>
            <td class="d-flex justify-content-center">
              <button class="button btn-edit" (click)="onEdit(item.id)">
                Edit
              </button>
              <button class="button btn-delete" (click)="onDelete(item.id)">
                Delete
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  