<div class="list-wrapper d-flex flex-column">
    <h2>Form List</h2>
    <div class="wrapper">
      <div class="search">
        <span
          ><input
            type="text"
            placeholder="Search..."
            class="search-bar"
            [(ngModel)]="searchText"
        /></span>
        <span class="icon-search search-icon"></span>
      </div>
      <div>

        <button  type="button" class="btn-adduser" routerLink="../add">
          + Add User
        </button>
        <button type="button" class="btn-filteruser" (click)="onFilterSubmit()" >
        Filter
        </button>
      </div>
    </div>
    <div class="table">
      <table>
        <thead>
          <tr>
            <th scope="col" class="padding-left">Id</th>
            <th scope="col">FirstName</th>
            <th scope="col">LastName</th>
            <th scope="col">City</th>
            <th scope="col">Contact No.</th>
            <th scope="col">Email</th>
            <th scope="col">Age</th>
            <th scope="col">Department</th>
            <th scope="col">Gender</th>
            <th scope="col" class="d-flex justify-content-center">Actions</th>
          </tr>
        </thead>
        <tbody *ngIf="_newcustomer?.length">
        <tr *ngFor="let item of _newcustomer | search: searchText ,let i=index">
        <th scope="row" class="padding-left">{{ i + 1 }}.</th>
        <td>{{ item.firstname }}</td>
        <td>{{ item.lastname }}</td>
        <td>{{ item.city }}</td>
        <td>{{ item.contactno }}</td>
        <td>{{ item.email }}</td>
        <td>{{ item.age }}</td>
        <td>{{ item.department | department:departmentList }}</td>
        <td>{{ item.gender }}</td>
            <td class="d-flex justify-content-center">
              <button type="button" class="button btn-edit" (click)="onEdit(item.id)">
                Edit
              </button>
              <button type="button" class="button btn-delete" (click)="onDelete(item.id)">
                Delete
              </button>
            </td>
          </tr>
        </tbody>
        <div *ngIf="!customerList?.length">No Record Inserted...</div>
      </table>

    </div>
    <app-pagination [items]="customerList" [itemsPerPage]="2" (changePage)="changePage($event)"></app-pagination>
  </div>
  