<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form #userForm="ngForm"(ngSubmit)="onSubmit(userForm)" novalidate>
      <div>
        <label for="firstName">First Name</label>
        <input type="text" id="firstName" name="firstName" [(ngModel)]="userModel.firstName" #firstName="ngModel" (change)="onFirstName(firstName)" required/>
        <div *ngIf="(firstName?.touched || firstName?.dirty && !firstName?.invalid)">
          <div *ngIf="firstName.errors?.['required']">Firstname is required</div>
        </div>
      </div>

      <div>
        <label for="lastName">Last Name</label>
        <input type="text" id="lastName" name="lastName"  [(ngModel)]="userModel.lastName" #lastName="ngModel"/>
      </div>

      <div>
        <label for="address">Address </label>
        <input type="text" id="address" name="address" />
      </div>

      <div>
        <label for="city">City </label>
        <input type="text" id="city" name="city" />
      </div>

      <div>
        <button type="submit">Submit</button>
      </div>
    </form>
  </body>
</html>
