h2 {
  padding: 20px 0 20px 20px;
  font-weight: 400;
}

.title {
  text-align: center;
  margin-bottom: 10px;
  padding: 5px;
  background-color: rgb(239, 243, 200);
}

.padding-10 {
  padding: 10px;
}

.margin-10 {
  margin: 10px;
}
