.table-width {
  width: 900px;
}

th,
tr,
td {
  padding: 2px;
  border-collapse: collapse;
  border: 1px solid black;
  text-align: center;
}

.table-info {
  border: 1px solid black;
  border-collapse: collapse;
  width: 600px;
  height: 600px;
}

.table-country {
  border: 1px solid black;
  border-collapse: collapse;
  width: 400px;
  height: 400px;
}

.title {
  background: rosybrown;
}

table {
  margin: 10px;
}
