<div class="row p-5">
    <div class="col-6">
        <div class="d-flex">
            <div class="col-3 progress-bar" [ngClass]="{'active':iscontactdetails}"></div>
            <div class="col-3 progress-bar" [ngClass]="{'active':ispersonaldetailsform}"></div>
            <div class="col-3 progress-bar" [ngClass]="{'active':iscontactdetailsform}"></div>
        </div>
        <div>
            <form [formGroup]="personaldetails" *ngIf="!iscontactdetails">
                <div class="mb-3">
                    <label for="firstname">First Name: </label>
                    <input type="text" id="firstname" name="firstname" placeholder="Enter first Name"
                        formControlName="firstname" class="form-control" />
                </div>
                <div *ngIf="getvalue['firstname'].touched && getvalue['firstname'].invalid">
                    <small class="text-danger" *ngIf="getvalue['firstname'].errors && getvalue['firstname'].errors['required']">
                      *firstname is required
                    </small>
                  </div>

                <div class="mb-3">
                    <label for="lastname">Last Name: </label>
                    <input type="text" id="lastname" name="lastname" placeholder="Enter Last Name"
                        formControlName="lastname" class="form-control" />
                </div>
                <div *ngIf="getvalue['lastname'].touched && getvalue['lastname'].invalid">
                    <small class="text-danger" *ngIf="getvalue['lastname'].errors && getvalue['lastname'].errors['required']">
                      *lastname is required
                    </small>
                  </div>

                <div class="mb-3">
                    <label for="city">City: </label>
                    <input type="text" id="city" name="city" placeholder="Enter your city" formControlName="city"
                        class="form-control" />
                </div>
                <div *ngIf="getvalue['city'].touched && getvalue['city'].invalid">
                    <small class="text-danger" *ngIf="getvalue['city'].errors && getvalue['city'].errors['required']">
                      *city is required
                    </small>
                  </div>

            </form>
            <form [formGroup]="contactdetails" *ngIf="iscontactdetails">
                <div class="mb-3">
                    <label for="contactno">Contact No.: </label>
                    <input type="text" id="contactno" name="contactno" placeholder="Enter Contact no"
                        formControlName="contactno" class="form-control" />
                </div>
                <!-- <div *ngIf="getvalue['contactno'].touched && getvalue['contactno'].invalid">
                    <small class="text-danger" *ngIf="getvalue['contactno'].errors && getvalue['contactno'].errors['required']">
                      *contactno is required
                    </small>
                  </div> -->

                <div class="mb-3">
                    <label for="email">E-mail: </label>
                    <input type="email" id="email" name="email" placeholder="abc12@gmail.com" formControlName="email"
                        class="form-control" />
                </div>
                <!-- <div *ngIf="getvalue['email'].touched && getvalue['email'].invalid">
                    <small class="text-danger" *ngIf="getvalue['email'].errors && getvalue['email'].errors['required']">
                      *email is required
                    </small>
                  </div> -->
            </form>
        </div>

        <div>
            <button class="btn btn-primary me-2" (click)="previous()">Previous</button>
            <button class="btn btn-success" (click)="next()">Next</button>
        </div>
    </div>
</div>