@font-face {
  font-family: 'app';
  src:  url('fonts/app.eot?qwhw5l');
  src:  url('fonts/app.eot?qwhw5l#iefix') format('embedded-opentype'),
    url('fonts/app.ttf?qwhw5l') format('truetype'),
    url('fonts/app.woff?qwhw5l') format('woff'),
    url('fonts/app.svg?qwhw5l#app') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'app' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-angular:before {
  content: "\e901";
  color: #dd0031;
}
.icon-calendar:before {
  content: "\e900";
}
.icon-compare_arrows:before {
  content: "\e902";
}
.icon-enter:before {
  content: "\e904";
}
.icon-grid:before {
  content: "\e905";
}
.icon-search:before {
  content: "\e907";
}
.icon-profile:before {
  content: "\e923";
}
.icon-menu:before {
  content: "\e9bd";
}
.icon-exit:before {
  content: "\ea14";
}
.icon-pencil:before {
  content: "\e906";
}
.icon-user:before {
  content: "\e971";
}
.icon-user-plus:before {
  content: "\e973";
}
.icon-check:before {
  content: "\ea10";
}
.icon-font:before {
  content: "\ea5c";
}
.icon-template:before {
  content: "\ea72";
}
