/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}


.wrapper{
  height: 100%;
}
.d-flex {
  display: flex;
}

.flex-grow{
  flex-grow:1;
}

.align-item {
  align-items: center;
  justify-content: center;
}

.sidebar{
  height:100%;
  width:300px;
}

.overflow{
  overflow: auto;
}

.margin{
  margin:10px;
}
