.wrapper {
  padding: 20px;
  height: 100%;
}

.dropdown {
  width: 100px;
  height: 30px;
  padding: 5px;
}

.card {
  border: 1px solid black;
  background-color: white;
  margin: 10px;
  padding: 10px;
  width: 50%;
}

.card-title {
  padding: 5px;
}

.card-text {
  padding: 5px;
}

.list-view {
  margin: 20px;
}

.list-item {
  margin: 10px;
}
