<aside>
  <div class="header">
    <span class="icon-angular"></span>
    <span class="color">ANGULAR</span>
  </div>
  <nav class="overflow-auto">
    <ul>
      <li>
        <a routerLink="angularbasics" class="icon d-flex align-item-center">
          <span class="icon-grid icon-padding"></span>
          Angular Basics
        </a>
      </li>

      <li>
        <a routerLink="directivepipes"  class="icon d-flex align-item-center">
          <span class="icon-enter icon-padding"></span>
          Directive-Pipes
        </a>
      </li>

      <li>
        <a routerLink="databinding" class="icon d-flex align-item-center">
          <span class="icon-compare_arrows icon-padding"></span>
          <span>Data Binding</span>
        </a>
      </li>

      <li>
        <a routerLink="reactive" class="icon d-flex align-item-center">
          <span class="icon-calendar icon-padding"></span>
          <span>Reactive Form</span>
        </a>
      </li>

      <li>
        <a routerLink="resume" class="icon d-flex align-item-center">
          <span class="icon-profile icon-padding"></span>
          <span>Resume Builder</span>
        </a>
      </li>
    </ul>
  </nav>
  <div class="logout icon d-flex align-item-center">
    <span class="icon-exit icon-padding"></span>
    <div>LogOut</div>
  </div>
</aside>
