aside {
  position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
    flex: 0 0 200px;
  }

  .header{
  text-align: center;
  height: 50px;
  font-size: 2rem;
  flex-shrink: 0;
  padding: 10px;
  border-bottom:  1px solid #f1f1f3;;
}

.logout{
  position: absolute;
  font-size: 1.4rem;
  left :80px;
  bottom: 0;
}

.text-align-center{
  text-align: center;
}

.overflow-auto{
  overflow: auto;
}


  a{
    color: black;
    display: block;
    padding: 10px;
    font-size: 1.2rem;
    text-decoration: none;
  }

  ul{
    padding:0;
    width: 100%;
  }
  li{
    list-style: none;
    padding: 10px;
  }

  a:hover{
    background-color:rgba(234,237,252,255);
    color: rgb(19, 19, 216);
    border-radius: 10px;
  }

  .d-flex{
    display: flex;
  }

  .align-item-center{
    align-items: center;
  }

  .icon {
    color: #898989;
  }

  .nav-1 {
    padding: 20px;
  }

  .icon-padding{
    padding-right:10px ;
  }
  