<button routerLink="add">Add</button>
<button routerLink="serach">Search</button>
<body>
    <table class="table">
        <thead>
            <tr>
                <th scope="col"  class="padding">Name</th>
                <th scope="col" class="padding">E-mail</th>
                <th scope="col" class="padding">Gender</th>
                <th scope="col" class="padding">D.O.E</th>
                <th scope="col" class="padding">Department</th>
                <th scope="col" class="padding">Action</th>
            </tr>
        </thead>
        <tbody>
            <!-- <tr *ngFor="let form of formList; let i=index">
                <th scope="row">{{i+1}}.</th>
                <td>{{form.firstName}}</td>
                <td>{{form.email}}</td>
                <td>{{form.gender}}</td>
                <td>{{form.doe}}</td>
                <td>{{form.department}}</td> -->
        </tbody>
    </table>
 





