.wrapper{
    height:  calc(100% - 50px);
  }
  .d-flex {
    display: flex;
  }
  
  .flex-grow{
    flex-grow:1;
  }
  
  .align-item {
    align-items: center;
    justify-content: center;
  }
  
  .sidebar{
    height:100%;
    width:300px;
  }
  
  .overflow{
    overflow: auto;
  }
  
  .margin{
    margin:10px;
  }
  