 <!--Start: Main-->

    <!-- Start: Section -->
    <main style="margin: 10px">
        <section>
          <h2>Introduction to Plants</h2>
        </section>
        <hr />
        <!-- End: Section -->
  
        <!-- Start: Article-->
        <article>
          <h3 style="font-weight: bold" class="margin">1.Roses</h3>
  
          <!--Start: figure-->
          <figure>
            <img src="..\assets\images\rose.jpg" alt="rose image" />
            <figcaption>Fig 1: Rose</figcaption>
          </figure>
          <!-- End: figure-->
  
          <!--Start:details-->
          <details>
            <summary>Red Rose</summary>
            <p>
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eius autem
              consequatur soluta impedit fuga neque, blanditiis, totam
              exercitationem iure nostrum voluptatibus veniam quos sed cupiditate
              voluptates. Impedit ducimus iste neque.
            </p>
          </details>
  
          <details>
            <summary>Yellow Rose</summary>
            <p>
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eius autem
              consequatur soluta impedit fuga neque, blanditiis, totam
              exercitationem iure nostrum voluptatibus veniam quos sed cupiditate
              voluptates. Impedit ducimus iste neque.
            </p>
          </details>
          <!--End: Details-->
        </article>
        <!--End : Article-->
  
        <!-- Start: canvas-->
        <canvas
          id="myCanvas"
          width="300px"
          height="100px"
          style="border: 1px solid #000000; fill: cornflowerblue"
        >
        </canvas>
        <!-- End: canvas-->
  
        <br />
  
        <!--Start: svg-->
        <img src="../assets/images/1478062212.svg" height="200px" width="200px">
        <!--End: svg-->
  
        <br />
  
        <!-- Start: video-->
        <video width="400px" height="300px" controls>
          <source src="../assets/video/rabbit.mp4" type="video/mp4" />
        </video>
        <!-- End: video-->
      </main>
      <!-- End: Main -->
