
  <table>
    <thead>
      <tr>
        <th scope="col" class="padding-left">FIRST NAME</th>
        <th scope="col">LAST NAME</th>
        <th scope="col">CLIENT</th>
        <th scope="col" class="padding-left">EMAIL</th>
        <th scope="col">OFFICE</th>
        <th scope="col">CONTACT</th>
        <th scope="col"  class="d-flex justify-content-center">Action</th>
      </tr>
    </thead>
    <tbody  *ngIf="userList?.length">
      <tr *ngFor="let user of userList">
        <td class="padding-left">{{ user.firstName }}</td>
        <td>{{ user.lastName }}</td>
        <td>{{ user.client | client: client }}</td>
        <td class="padding-left">{{ user.email }}</td>
        <td>{{ user.office | office: office }}</td>
        <td>{{ user.contact }}</td>
        <td  class="d-flex justify-content-center">
          <button class="button btn-edit" (click)="editForm(user.id)">Edit</button>
          <button class="button btn-delete" (click)="deleteUser(user.id)">Delete</button>
        </td>
      </tr>
    </tbody>
    <div *ngIf="!userList?.length">No Record Inserted..</div>
  </table>


