<div *ngIf="userData?.length">
  <table>
    <thead>
      <tr>
        <th scope="col">FIRST NAME</th>
        <th scope="col">LAST NAME</th>
        <th scope="col">CLIENT</th>
        <th scope="col">EMAIL</th>
        <th scope="col">OFFICE</th>
        <th scope="col">CONTACT</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of userData">
        <td>{{ user.firstName }}</td>
        <td>{{ user.lastName }}</td>
        <td>{{ user.client | client: client }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.office | office: office }}</td>
        <td>{{ user.contact }}</td>
        <td>
          <button class="button" routerLink="edit/{{ user.id }}">Edit</button>
          <button class="button" (click)="deleteUser(user.id)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<div *ngIf="!userData?.length">No Record Inserted..</div>
