aside {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 260px;
  transition: 0.4s all;
}

header {
  text-align: center;
  height: 70px;
  font-size: 2rem;
  padding: 10px;
  border-bottom: 1px solid #d8d8db;
}

.overflow-auto {
  overflow-y: auto;
  overflow-x: hidden;
}

.profile {
  padding: 30px 10px 10px 10px;
  transition: 0.4s all;
}

.avatar {
  max-width: 50px;
  height: 50px;
  border-radius: 50%;
}

.profile-detail {
  margin-top: 10px;
  margin-left: 10px;
}

.username {
  margin-bottom: 0;
  font-weight: 400;
  color: #898989;
}

.email {
  font-size: 10px;
  color: #898989;
}

.nav-bar {
  height: 100%;
  padding: 10px;
}

a {
  color: #898989;
  align-items: center;
  padding: 14px;
  font-size: 1.2rem;
  text-decoration: none;
  white-space: nowrap;
}

a:hover {
  background-color: #eaedfc;
  color: #6678bf;
  border-radius: 10px;
  transition: 0.4s all;
}

a.active {
  background-color: #eaedfc;
  color: #6678bf;
  border-radius: 10px;
}

ul {
  width: 100%;
}

li {
  list-style: none;
  margin-top: 10px;
}

.border-bottom {
  border-bottom: 1px solid #d8d8db;
  padding-bottom: 20px;
}

.border-top {
  border-top: 1px solid #d8d8db;
  padding-top: 20px;
}

.white-space {
  white-space: nowrap;
}
.menu-btn {
  cursor: pointer;
  color: #898989;
  padding-left: 5px;
}

.logout {
  font-size: 1.4rem;
  padding: 20px;
  border-top: 1px solid #d8d8db;
  transition: 0.4s all;
}

.icon-margin {
  margin-left: 10px;
}

#menu:checked ~ aside {
  width: 60px;
}

#menu:checked ~ aside a {
  justify-content: center;
}

#menu:checked ~ aside .logo {
  display: none;
}

#menu {
  display: none;
}

#menu:checked ~aside .profile{
  justify-content: center;
}

@media(max-width:768px){
  aside{
    width: 200px;
  }

  a{
    font-size: 16px;
    padding: 5px;
  }

  .avatar {
    max-width: 40px;
    height: 40px;
    border-radius: 50%;
  }

  .menu-btn{
    font-size: 20px;
  }

  .username{
    font-size: 10px;;
  }

  .email{
    font-size: 10px;
  }

  .logout{
  font-size: 1.4rem;
  padding: 10px;
  width: 100%;
  border-top: 1px solid #d8d8db;
  transition: 0.4s all;
  }
}