// Global styles goes here
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
  }
  
  html,
  body {
    overflow: hidden;
    height: 100%;
  }

  .overflow-vertical{
    overflow-y: auto;
    overflow-x: hidden;
  }