<div class="container m-4">
    <table class="table border">
        <thead class="bg-dark text-white">
            <th class="p-2">Name</th>
            <th class="p-2">Size</th>
            <th class="p-2">Type</th>
            <th class="p-2">Action</th>
        </thead>
        <tbody>
            <tr *ngFor="let filedata of fileList">
                <td class="align-middle">{{filedata.name}}</td>
                <td class="align-middle">{{filedata.size}} mb</td>
                <td class="align-middle">{{filedata.type}}</td>
                <td class="align-middle"><button class="btn btn-danger" (click)="onDelete(filedata.id)">Delete</button>
                    <button class="btn btn-primary ms-3"
                        (click)="viewFile(filedata.content,filedata.type)">View</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>