/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

html,
body {
  height: 100%;
}
.text-align-center {
  text-align: center;
}

.overflow-auto {
  overflow: auto;
}

.overflow-hidden{
  overflow: hidden;
}

.d-flex {
  display: flex;
}

.flex-grow-1{
  flex-grow: 1;
}

.align-item-center {
  align-items: center;
}

.justify-content-center{
  justify-content: center;
}

.justify-content-right {
  justify-content: right;
}

.space-between{
  justify-content: space-between;
}

.flex-column {
  flex-direction: column;
}
.flex-wrap{
  flex-wrap: wrap;
}



/* @media (max-width: 768px) {
 .sidebar {
   display: none;
 } 
} */